.env

obj

TradeflowApi/Api/bin
TradeflowApi/Api/obj

TradeflowApi/Application/bin
TradeflowApi/Application/obj

TradeflowApi/Domain/bin
TradeflowApi/Domain/obj

TradeflowApi/Infrastructure/bin
TradeflowApi/Infrastructure/obj

TradeflowApi/Tradeflow.Tests/bin
TradeflowApi/Tradeflow.Tests/obj
